
html, body {
    direction: rtl !important;
}

.col-lg-6 {
    text-align: right;
}

.pr-md-3, .px-md-3 {
    padding-left: 1rem !important;
}

.mr-2, .mx-2 {
    margin-left: 0.5rem !important;
}

.mr-3, .mx-3 {
    margin-left: 1rem !important;
}

.mr-2, .mx-2 {
    margin-left: 0.5rem !important;
}

.mt-1, .my-1 {
    margin-left: 52px;
    margin-right: 79px;
}

.d-inline-block.w-100 p {
    margin-right: 51px;
}

.iq-top-navbar {
    left: 0;
    right: auto;
}

.content-page {
    margin-right: 260px;
    margin-left: 0;
}

.iq-sidebar-menu .iq-menu li a .iq-arrow-right {
    transform: rotate(180deg);
}

.card .card-header .header-title .card-title {
    text-align: right;
}

.card-body {
    text-align: right !important;
}

.card .card-header {
    text-align: right !important;
}

.iq-progress-bar .progress-text-one {
    left: -20px !important;
}

.iq-sidebar-menu .iq-menu li a .iq-arrow-right {
    margin-left: 0;
    margin-right: auto;
}

.white-bg-menu .iq-menu-horizontal .iq-sidebar-menu li .iq-arrow-right.arrow-active {
    margin-right: 8px;
}

.iq-sidebar-menu .iq-menu li a i {
    margin-left: 8px;
}

.ml-3, .mx-3 {
    margin-right: 1rem !important;
}

.blog-half .blog-meta {
    margin-left: 20px;
}

.apexcharts-legend-marker {
    left: 6px !important;
}

.dataTables_wrapper .dataTables_filter input {
    margin-right: 0.5em;
}

.custom-checkbox.checkbox-icon label i {
    right: -21px;
}

#top-tab-list li i {
    margin: 0 0px 0 15px;
}

#top-tab-list li {
    float: right;
    text-align: right;
}

.text-left {
    text-align: right !important;
}

.form-check-input {
    margin-right: -1.0rem;
}

.text-left {
    text-align: right !important;
}

.jvectormap-legend-cnt-v .jvectormap-legend-tick-text {
    padding-right: 3px;
}

.form-control {
    text-align: left;
}

.br-theme-bars-movie .br-widget .br-current-rating {
    text-align: right;
}

.basic-tree li:after, .basic-tree li:before {
    right: -20px !important;
}

.basic-tree li:after, .basic-tree li:before {
    content: "";
    right: -20px;
}

.flex-tree li:after, .flex-tree li:before {
    right: -25px;
}

.font-weight-bolder {
    margin-right: 32px !important;
}

.content {
    text-align: right;
}

.timeline-page .iq-timeline0 li .timeline-dots1 {
    right: 0;
}

.iq-timeline0:before {
    right: 20px;
}

.float-left {
    float: right !important;
    margin-left: 22px;
    margin-right: 49px;
}

.timeline-page .iq-timeline0 ul li:nth-child(odd) .timeline-dots, .timeline-page .iq-timeline0 ul li:nth-child(odd) .timeline-dots.timeline-dot1 {
    right: 12px;
    left: auto;
}

.timeline-page .iq-timeline0 ul li:nth-child(2n) .timeline-dots, .timeline-page .iq-timeline0 ul li:nth-child(2n) .timeline-dots.timeline-dot1 {
    right: 12px;
    left: auto;
}

.iq-accordion.career-style.faq-style .iq-accordion-block .accordion-details p {
    text-align: right;
}

.timeline-page .iq-timeline2:before {
    right: 30px;
}

.timeline-page .iq-timeline2 .content-date {
    right: 0;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-item:first-child .page-link {
    margin-right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.page-item:last-child .page-link {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form-control {
    width: 35% !important;
}

.templatingSelect2 {
    width: 300px;
}

.card-title {
    text-align: right
}

    .card-title h4 {
        margin-top: 12px !important;
    }

h4 {
    margin-left: 10px;
}

.select2-container {
    margin-right: -100px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: left;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #8080806e !important;
  
}

.nav-tabs {
    margin-right: -32px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 25px;
    margin-top: -12px;
}

.select2-container--default .select2-selection--single {
    padding: 24px 8px !important;
    margin-top: -5px !important;
  
}

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 8px;
        left: 1px
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        text-align: right;
    }

.iq-footer {
    margin-right: 260px;
    /* margin-left: 260px; */
}
.iq-search-bar .search-input {
    padding: 5px 40px 5px 65px;
}
.sidebar-default .iq-sidebar-menu .iq-menu li ul li a {
    padding-left: 0;
    padding-right: 40px;
}
.sidebar-default .iq-sidebar-menu .iq-menu li ul ul li > a {
    padding-right: 60px;
    padding-left: 0;
}
.iq-sidebar-menu .iq-menu li ul{padding-right:0}
.form-control {
    text-align: right;
}
.select2-results {
    text-align: right;
}